<!--{% extends 'base2.html' %}-->
<!--{% block content %}-->
<!--<h1> user signup</h1>-->
<!--<form method="POST" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->

<!--{{form.as_p}}-->

<!--    <input type="submit">-->
<!--</form>-->

<!--{% endblock %}-->


<!DOCTYPE html>
{% extends 'base2.html' %}
{% block body_block %}
<div class="container">
    <h2>User Signup</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit">
    </form>
</div>
{% endblock %}